.title {
  margin-bottom: 50px;
}

.u-margin-bottom--2x {
  margin-bottom: 32px !important;
}

.u-margin-top--2x {
  margin-top: 32px !important;
}

#chart{
  position:relative;
  margin: 0 auto;
  margin-top:40px;
  width:80%;
  height:200px;
}
@-webkit-keyframes bargrowth{
  0%   {max-height: 0%;}
  100%  {max-height: 100%;}
}
@keyframes bargrowth{
  0%   {max-height: 0%;}
  100%  {max-height: 100%;}
}
.bar{
  position:absolute;
  bottom:0;
  display:inline-block;
  background: #89b800;
  box-shadow: 1px -1px #79a300, 2px -2px #79a300, 3px -3px #79a300,   4px -4px #79a300, 5px -5px #79a300, 6px -6px #79a300, 7px -7px   #79a300, 8px -8px #79a300, 9px -9px #79a300, 10px -10px #79a300;
  -webkit-animation: bargrowth 1000ms ease;
  animation: bargrowth 1000ms ease;
}


.wrapper{
  margin:0 auto;
  margin: 0 auto;
  margin-top:10px;
  width:100%;
  text-align:center;
  font-size:12px;
  font-family:Helvetica;

}
.wrapper > h1, .wrapper > p{
  margin:0;
}

.labels {
  display: flex;
  padding: 0 10%;
}

.label {
  margin-right: 100px;
  flex:1;
}

.label:last-child {
  margin: 0;
}
